.information3{
    margin-top: 560px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px
}
.note{
    font-style: italic;
    font-size: 18px;
    margin: 10px;
    text-align: right;
}

.rating{
    font-style: italic;
    margin: 40px;
    font-size: 18px;
}

.like{
    margin-right: 1300px;
    margin-top: 150px;
}
