.request-rating{
    margin-top: 200px;
    margin-left: 1300px;
    font-size: 20px;
}

.information2{
    margin-top: 530px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px
}
