.header {
    height: 80px;
}
  
.options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
  
.option {
    padding: 10px 15px;
    cursor: pointer;
}

.header-button{
        background-color: lightskyblue;
        color: white;
        padding: 14px 20px;
        cursor: pointer;
        width: 100%;
}