.cent{
  text-align: center;
}
.bord{
  border: 10px solid #f1f1f1;
  width: 50%;
  text-align: center;
  background-color: #F0FFFF;
  margin: 0 auto;
}

input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #f1f1f1;
}
button {
  background-color: lightskyblue;
  color: white;
  padding: 14px 20px;
  width: 22%;
}

button:hover {
  opacity: 0.8;
}
.container {
  padding: 16px;
}

.imgcontainer {
  text-align: center;
}
img.avantar {
  width: 12%;
}

.em{
  width: 3.5%;
}
