.cent{
  text-align: center;
}
.bord{
  border: 10px solid #f1f1f1;
  padding: 2px 150px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


button:hover {
  opacity: 0.8;
}
.container {
  padding: 16px;
}

.row{
display: flex;
box-sizing: border-box;
}

.column{
flex: 50%;
padding: 10px;
box-sizing: border-box;
}